:root {
    --main-background-color: white
        /**#fefefe**/
    ;
    --secondary-background-color: #ffffff;
    --main-text-color: #1b365d;
    --secondary-text-color: #0087ae;
    --footer-text-color: #004c97;
    --p-text-color: #343941;
    --form-font-color: #8a8d92;
    --button-color: #ff6c0e;
    --button-text-color: #ffffff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--p-text-color);
    display: grid;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/**LAYOUT**/
/*HEADER*/
header {
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0px;
    grid-area: header;
}

header a {
    color: var(--main-text-color);
    width: 10%;
    align-items: center;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {

    height: 50px;
    align-items: center;
    align-content: center;
}

/*NAVBAR*/
header nav {
    width: 80%;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

/**MAIN**/
main {
    background-color: var(--main-background-color);
    width: 100%;
    margin-top: 50px;
}

h1 {
    color: var(--main-text-color);
    font-size: 48px;
}

h2 {
    color: var(--main-text-colorr);
    font-size: 32px;
}

h3 {
    color: var(--secondary-text-color);
    font-size: 20px;
}

h4 {
    color: var(--secondary-text-color);
    font-size: 14px;
}

p {
    color: var(--p-text-color);
}

/**BANNER**/
#banner {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 25px;
    background-image: url(../img/automobile2.jpg);
    background-size: cover;
    grid-area: banner;
}

#banner div {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 50%;
    margin-left: 5%;
}

#banner div h1 {
    margin: 5%;
}

#banner div p {
    margin: 5%;
}

#banner div .button {
    margin: 5%;

}

/**SERVICES**/
#our-services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
    margin-top: 50px;
    grid-area: our-services;
}

.ourservices-img {
    max-width: 225px;
}

.ourservices-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ourservicesTop {
    display: flex;
    margin: 10px 0
}

.ourservicesBottom {
    display: flex;
}

/**WHY US**/
#why-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
    margin-top: 50px;
    grid-area: why-us;
}

.ourservices-img {
    max-width: 225px;
}

.whyus-container {
    display: flex;
    text-align: center;
    box-shadow: 5px 2px;
    background-color: var(--secondary-background-color);
}

/**Testimoniales**/
#testimoniales {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
    margin-top: 50px;
    grid-area: testimoniales;
    padding-bottom: 20px;
}

#testimoniales article {
    margin-bottom: 30px;
}

.form {
    background-color: var(--secondary-background-color);
    color: var(--form-font-color);
    font-style: italic;
}

.button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border-radius: 8px;
    padding: 5px;
}

#testimoniales article {
    font-style: italic;
}

/*Footer*/
footer {
    background-color: var(--secondary-background-color);
    padding: 0 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0px 0px 20px 20px rgba(1, 0, 39, 0.071);
}

footer p {
    color: var(--main-text-color);
    font-size: 1em;
    font-weight: bold;
}

footer li {
    color: var(--footer-text-color);
    font-size: 1em;
}

.footer-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    grid-area: footer;
}

.footer-ContactInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 272px;
}

.footer-ContactInformation li {
    display: flex;
    align-items: center;
}

.footer-ContactInformation img {
    max-width: 50px;
}

footer a {
    color: var(--footer-text-color);
}

footer li {
    margin-bottom: 10px;
}

footer nav {
    min-width: 272px;
}

footer span {
    width: 272px;
}

/*PAGE ABOUT US*/
#aboutus-main div {
    padding: 20px;
    text-align: center;
}

.mision-vision-container {
    display: flex;
    text-align: center;
}

.aboutus-img {
    height: 150px;
}

/*PAGE CONTACT US*/
#contactus-main div {
    padding: 20px;
}

.contactus-container {
    display: flex;
    align-items: center
}

#maps-section {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.form {
    padding: 20px;
}

@media screen and (max-width: 426px) {

    h1 {
        font-size: 30px;
    }

    #banner div {
        width: 80%;
    }

    .button {
        text-align: center;
    }

    .ourservicesTop {
        flex-direction: column;
    }

    .ourservicesBottom {
        flex-direction: column;
    }

    .whyus-container {
        flex-direction: column;
    }

    article {
        padding: 10px 0px
    }

    main {
        padding-bottom: 0px;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-ContactInformation {
        align-items: flex-start;
    }

    .mision-vision-container {
        flex-direction: column;
    }

    .vision {
        padding-bottom: 20px;
    }

    #maps-section {
        flex-direction: column;
        align-items: center;
    }
    .contactus-container {
        flex-direction: column;
    }
    #maps {
        width: 75%;
    }
}