$main-background-color:#fefefe;
$secondary-background-color: #f9f9f9;
$main-text-color: #1b365d;
$secondary-text-color: #0087ae;
$footer-text-color: #004c97;
$p-text-color: #343941;
$form-font-color: #8a8d92;
$button-color: #ff6c0e;
$button-text-color: #ffffff;
$form-background-color:#f9f9f9;
$form-border-color:#ccc;