* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #343941;
}

header {
  background-color: #f9f9f9;
  height: 102px;
  width: 100%;
  top: 0px;
  position: fixed;
  z-index: 1250;
}

.navbar-nav {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-brand {
  margin-right: 0;
  display: flex;
  justify-content: center;
}

.navbar .nav-link {
  color: #1b365d;
}

.navbar-nav .nav-link.active {
  color: #1b365d;
}

main {
  background-color: #fefefe;
  width: 100%;
  margin-top: 102px;
  margin-bottom: 50px;
}

h1 {
  color: #1b365d;
  font-size: 48px;
}

h2 {
  color: var(--main-text-colorr);
  font-size: 32px;
}

h3 {
  color: #0087ae;
  font-size: 20px;
}

h4 {
  color: #0087ae;
  font-size: 14px;
}

p {
  color: #343941;
}

footer {
  background-color: #f9f9f9;
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .footer-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
footer .footer-container nav {
  min-width: 272px;
}
footer .footer-container p {
  color: #1b365d;
  font-size: 1em;
  font-weight: bold;
}
footer .footer-container li {
  color: #004c97;
  font-size: 1em;
  margin-bottom: 10px;
}
footer .footer-container a {
  color: #004c97;
}
footer .footer-container .footer-ContactInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 272px;
}
footer .footer-container .footer-ContactInformation li {
  display: flex;
  align-items: center;
}
footer .footer-container .footer-ContactInformation img {
  max-width: 50px;
}
footer span {
  width: 272px;
}

.button {
  background-color: #ff6c0e;
  color: #ffffff;
  border-radius: 8px;
  padding: 5px;
}

#testimoniales article {
  font-style: italic;
}

.form {
  background-color: #f9f9f9;
  color: #8a8d92;
  font-style: italic;
  padding: 24px;
  max-width: 1320px;
  margin: 10px auto;
  border: none;
  border-left: 4px solid #ff6c0e;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}
.form p {
  margin-bottom: 0;
}
.form .radiobutton {
  align-content: center;
}

#banner {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 25px;
  background-image: url(../../img/automobile2.jpg);
  background-size: cover;
}
#banner div {
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 50%;
  margin-left: 5%;
}
#banner div h1 {
  margin: 5%;
}
#banner div p {
  margin: 5%;
}
#banner div .button {
  margin: 5%;
}

/**SERVICES**/
#our-services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
  margin-top: 50px;
}
#our-services .ourservices-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#our-services .ourservices-container .ourservicesTop {
  display: flex;
  margin: 10px 0;
}
#our-services .ourservices-container .ourservicesBottom {
  display: flex;
}
#our-services .ourservices-container .ourservices-img {
  max-width: 225px;
}

/**WHY US**/
#why-us {
  width: 100%;
  max-width: 1320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}
#why-us .whyus-container {
  display: flex;
  text-align: center;
}

/**Testimoniales**/
#testimoniales {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
  margin-top: 50px;
  padding-bottom: 20px;
}
#testimoniales article {
  margin-bottom: 30px;
}

.quote-banner h4 {
  padding-top: 20px;
}

#aboutus-main div {
  padding: 20px;
  text-align: center;
}

.mision-vision-container {
  display: flex;
  text-align: center;
}
.mision-vision-container .aboutus-img {
  height: 200px;
}

.other-services-banner {
  text-align: center;
  margin-bottom: 30px;
}
.other-services-banner h4 {
  padding-top: 20px;
}

.other-services-container .other-services-img {
  max-width: 350px;
}
.other-services-container .flexcontainers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
.other-services-container .flexcontainers-reverse {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
.other-services-container .flexcontainers-reverse div {
  padding-left: 30px;
}

#contactus-main .contactus-container {
  display: flex;
  align-items: center;
}
#contactus-main #maps-section {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 768.01px) {
  footer .footer-container ul {
    padding-left: 0;
  }
  footer .footer-container .footer-ContactInformation {
    align-items: flex-end;
  }
  #maps-section {
    flex-direction: column;
    align-items: center;
  }
  .contactus-container {
    flex-direction: column;
  }
  #maps {
    width: 75%;
  }
  .other-services-container .other-services-img {
    max-width: 280px;
  }
  .other-services-container .flexcontainers {
    flex-direction: column;
  }
  .other-services-container .flexcontainers-reverse {
    flex-direction: column;
  }
  .other-services-container .flexcontainers-reverse div {
    padding: 0;
  }
  .form {
    margin: 0 30px;
  }
}
@media screen and (max-width: 426px) {
  h1 {
    font-size: 30px;
  }
  #banner {
    padding: 0 10px;
  }
  #banner div {
    width: 100%;
    margin: 0;
  }
  #our-services {
    padding: 0 10px;
  }
  #our-services .ourservicesTop {
    flex-direction: column;
  }
  #our-services .ourservicesBottom {
    flex-direction: column;
  }
  #why-us {
    padding: 0 10px;
  }
  #why-us .whyus-container {
    flex-direction: column;
  }
  #testimoniales {
    padding: 0 10px;
  }
  .button {
    text-align: center;
  }
  article {
    padding: 10px 0px;
  }
  main {
    padding-bottom: 0px;
  }
  .flexcontainers {
    flex-direction: column;
  }
  .flexcontainers-reverse {
    flex-direction: column;
  }
  .mision-vision-container {
    flex-direction: column;
  }
  .vision {
    padding-bottom: 20px;
  }
  footer .footer-container {
    flex-direction: column;
  }
  footer .footer-container ul {
    padding-left: 0;
  }
  footer .footer-container .footer-ContactInformation {
    align-items: flex-start;
  }
  .mision-vision-container .aboutus-img {
    max-width: 200px;
  }
  .form {
    margin: 0 10px;
  }
  #maps {
    width: 90%;
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
